# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.vscode/launch.json

# generated
src/generated
src/main/resources/assets/servermod/blockstates
src/main/resources/assets/servermod/lang
src/main/resources/assets/servermod/models
src/main/resources/data/minecraft/tags
src/main/resources/data/servermod/recipes
src/main/resources/data/servermod/loot_tables/blocks
src/main/resources/data/servermod/advancements
src/main/resources/.cache

# Files from Forge MDK
forge*changelog.txt
